.red {
  font-size: 16px;
  color: #f00;
}
.grey {
  color: #8a8f8a;
}

.mermaid {
  background-color: #fff !important;
}
code {
  font-family: "PT Mono", consolas, Menlo, "PingFang SC", "Microsoft YaHei",
    monospace;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 2px 4px;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 14px;
}

hi {
  font-family: "PT Mono", consolas, Menlo, "PingFang SC", "Microsoft YaHei",
    monospace;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 2px 4px;
  background: rgb(255, 232, 25);
  border-radius: 3px;
  font-size: 14px;
}
